{% extends "base.html" %}
<!-- to reposition blocks, visit base.html -->

{% block navbar_content %}
    <span class="brand" href="/">
        {% if not group %}
            <strong>Princeton in</strong>
        {% else %}
            <strong>{{ group.name }} in</strong>
        {% endif %}
        &nbsp;<input type='text' id='searchTextField'></input>
    </span>
{% endblock %}

{% block js_set_global_vars_w_jinja %}
    get_trips_url_global = "{{ url_for('get_trips', group_alias=group_alias) }}";
    get_events_url_global = "{{ url_for('get_events', group_alias=group_alias) }}";
    get_meals_url_global = "{{ url_for('get_meals', group_alias=group_alias) }}";
{% endblock %}

{% block content %}
    {% include "prompts.html" %}
    {% include "feed.html" %}
    {% include "map.html" %}
    {% include "timeline.html" %}
{% endblock %}
