{% extends "base.html" %}
<!-- to reposition blocks, visit base.html -->

{% block navbar_content %}
    <span class="brand" href="/">
        {% if not group %}
            <strong>Princeton in</strong>
        {% else %}
            <strong>{{ group.name }} in</strong>
        {% endif %}
        &nbsp;<input type='text' id='searchTextField'></input>
    </span>
{% endblock %}

{% block js_set_global_vars_w_jinja %}
    get_trips_url_global = "{{ url_for('get_trips', group_alias=group_alias) }}";
    get_events_url_global = "{{ url_for('get_events', group_alias=group_alias) }}";
    get_meals_url_global = "{{ url_for('get_meals', group_alias=group_alias) }}";
{% endblock %}

{% block content %}
    {% include "prompts.html" %}
    {% include "map.html" %}

    <div class="navbar-container" style="margin-top: -42px; margin-bottom: -16px;">

        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#timeline-tab" data-toggle="tab">Timeline</a></li>
            <li><a href="#events-tab" data-toggle="tab">Events</a></li>
            <li><a href="#meals-tab" data-toggle="tab">Meals</a></li>
            <li><a href="#stats-tab" data-toggle="tab">Stats</a></li>
            <li><a href="#help-tab" data-toggle="tab">Help</a></li>
        </ul>

    </div>

    <div id="main-tabs-content" class="tab-content">
        <div class="tab-pane active" id="timeline-tab">
            {% include "timeline.html" %}
        </div>
        <div class="tab-pane" id="events-tab">
            {% include "feed.html" %}
        </div>
        <div class="tab-pane" id="meals-tab">
            <h1>Meals</h1>
            <p>here will be the meals</p>
        </div>
        <div class="tab-pane" id="stats-tab">
            <h1>Stats</h1>
            <p>here we'll have some stats</p>
        </div>
        <div class="tab-pane" id="help-tab">
            <h1>Help</h1>
            <p>here we will have some help and tips</p>
        </div>
    </div>

{% endblock %}
