<div id="app">

    <div id="map_canvas" style="height: 400px; width: 100%; margin-top: -35px;" class="map"></div>
    <div id="hidden_map_canvas" style="display: none;"></div>

    <div class="row show-row">
      <center>
        &nbsp;
        <a id="show-trip-link" class="show-link" href="#">
          Add Trip 
        </a>
        &nbsp;
        <a id="show-event-link" class="show-link" href="#">
          Add Event
        </a>
        &nbsp;
        <a id="show-meal-link" class="show-link" href="#">
          Suggest Meal
        </a>
        &nbsp;
        <a id="mass-email-link" class="show-link" href="#">
          Mass e-mail
        </a>
        &nbsp;
        <a id="show-fbgroup-link" class="show-link" href="#">
          Create FB Group
        </a>
      </center>
    </div>

</div>
