<div id="location_prompt"  style="position:absolute;width:100%;">
  <div class="populate">

  <center>
  <h1>Where will you be this summer?</h1>
  <h3 class="sub">Tell your friends and find out where they'll be!</h3>
    {{ form.csrf_token }}
    {{ form.location_name(placeholder='City (please select)') }}<br />
    {{ form.doing_what(placeholder='Doing What?') }}<br />
    {{ form.location_lat }}
    {{ form.location_long }}
    {{ form.start_date(placeholder='Start Date')  }}
    {{ form.end_date(placeholder='End Date')  }}<br />
    <p>
      {{ form.looking_for_roomies }} Looking for Roommates &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
      {{ form.looking_for_housing }} Looking for Housing &nbsp; &nbsp; &nbsp; &nbsp;
    </p>
    {{ form.comment(placeholder='Additional Comments') }}<br>
    <div>
      <input class="btn" id='add-trip-button' type="submit" value="Add Trip">
      <div id="edit-trip-panel" hidden>
        <p><input class="btn" id='edit-trip-button' type="submit" value="Edit Trip"></p>
        <p><input id="delete-trip-button" class="delete" type="submit" style="color: white; background-color: red;" value="Delete Trip"></p>
      </div>

      <a id="hide-link" href="#">hide</a>
    </div>
  </center>

  </div>
</div>
