<script>

var dataTable = new google.visualization.DataTable();
dataTable.addColumn('datetime', 'start');
dataTable.addColumn('datetime', 'end');
dataTable.addColumn('string', 'content');
dataTable.addColumn('string', 'group');
dataTable.addColumn('string', 'className');
dataTable.addColumn('string', 'doing_what');
dataTable.addColumn('string', 'comment');
dataTable.addColumn('string', 'link');
dataTable.addColumn('string', 'is_mine');
dataTable.addColumn('string', 'location');
dataTable.addColumn('string', 'location_lat');
dataTable.addColumn('string', 'location_long');
dataTable.addColumn('string', 'start_date');
dataTable.addColumn('string', 'end_date');
dataTable.addColumn('boolean', 'editable');
dataTable.addColumn('string', 'delete_link');
dataTable.addColumn('string', 'change_dates_link');
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// Note: order here MATTERS a lot -- see static/js/my-timeline.js, data.getValue(row, ...)
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
var dataView = new google.visualization.DataView(dataTable);


function onZoom(bounds) {
    // create array for viewable rows
    save_rows = [];
 
    // currently iterates through list... should prolly change to a 2d-tree or something evetually
    for (var j=0;j<markers.length;j++) {
        if (bounds.contains(markers[j].getPosition())) {
            // add row if in bounds
            save_rows.push(j);
        }
    }
 
    dataView.setRows(save_rows);
    timeline.draw(dataView);
    htmltooltip.render();
}


var names = [];
{% for user in users %}
    name = 
        "<a href='https://www.facebook.com/{{ user.fbid }}' target='_blank'>" +
        "<img src='https://graph.facebook.com/{{ user.fbid }}/picture' width='40px' height='40px' style='float: left; margin-right: 5px;'>" +
        "{{ user.first_name }}" + '<br>' + "{{ user.last_name }}" +
        "</a>"
    {% for trip in user.trips %}
        var start = new Date("{{ trip.start_date.strftime('%Y-%m-%d') }}"); // used for timeline viz
        var end = new Date("{{ trip.end_date.strftime('%Y-%m-%d') }}");     // used for timeline viz
        var mailtolink = "mailto:{{ user.email }}?subject=[pton.in] Hey, regarding your trip to {{ trip.location_name }} on {{ trip.start_date.strftime('%b %d') }}";

        var availability = "Available";
        var link = mailtolink;
        var delete_link = ''; // can't delete by default
        var change_dates_link = ''; // same -- can't edit unless it's your trip
        {% if trip.looking_for_roomies or trip.looking_for_housing %}
            availability = "Unavailable";
        {% endif %}
        var group = availability.toLowerCase();
        
        {% set doing_what = "" if not trip.doing_what else trip.doing_what %}
        var doing_what = "{{ trip.doing_what }}";
        {% set comment = "" if not trip.comment  else trip.comment %}
        var comment = "{{ trip.comment }}";
        var sign = "{{ trip.location_name }} from {{ trip.start_date.strftime('%b %d') }} to {{ trip.end_date.strftime('%b %d') }}. {{ doing_what }}";
        var content = "<span style='color: write; text-decoration: none; cursor: default;'>" + sign + "</span>"; 
        var editable = false;
        var is_mine = "{{ user.fbid == current_user.fbid  }}"; // note this is a string, not a bool
        if (is_mine == 'True') {
            // in this case, link == action of the edit form
            // completely different... lol
            link = 'mamam'; // TODO url_for('populate', trip_id=trip.id)
            delete_link = 'sdfs'; // TODO" url_for('delete_trip', trip_id=trip.id) ";
            change_dates_link = 'sdfds'; // TODO " url_for('change_dates', trip_id=trip.id) "
            editable = true;
        }
        // those below are used for edit button, they're just passing the trip deets to the box
        var location_name = "{{ trip.location_name }}";
        var location_lat = "{{ trip.location_lat }}";
        var location_long = "{{ trip.location_long }}";
        var start_date = "{{ trip.start_date.strftime('%m/%d/%Y') }}"; // these are strings to be compatible with the wtform fields (see form.py)
        var end_date = "{{ trip.end_date.strftime('%m/%d/%Y') }}";

        // DISABLE THE TOOLTIPS TEMPORARILY
        </script><!-- <div class="htmltooltip">
            I'll be in {{ trip.location_name }} from {{ trip.start_date.strftime('%b %d') }} to {{ trip.end_date.strftime('%b %d') }}. {{ doing_what }}<br />
            {% if trip.looking_for_roomies %}Looking for roommates.<br />{% endif %}
            {% if trip.looking_for_housing %}Looking for housing.<br />{% endif %}
            {{ comment }}
        </div>--><script>

        dataTable.addRow([start, end, content, name, group, doing_what, comment, link, is_mine, location_name, location_lat, location_long, start_date, end_date, editable, delete_link, change_dates_link]);
    {% endfor %}
{% endfor %}
</script>





<div id="timeline-container" class="row contact">
    <div id="mytimeline" style="height: 600px;"></div>
    <a id="new" title="Add new status event" href="javascript:void(0);" onclick="onNew();">+</a>
</div>
